html {
  background-color: hsl(30, 56%, 94%);
  background-image: url(logo.svg);
  background-position: bottom 30px right 30px;
  background-repeat: no-repeat;
  background-size: 50px;
  border-bottom: 120px solid hsl(30, 56%, 14%);
  box-sizing: border-box;
  color: hsl(30, 56%, 14%);
  font-family: 'Inconsolata', sans-serif;
  font-size: 16px;
  height: 100%;
  margin: 0;
  overflow-x: hidden;
}

html::after {
  background-image: url(a.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 65%;
  bottom: 120px;
  content: '';
  left: 0;
  opacity: 1;
  pointer-events: none;
  position: absolute;
  top: 0;
  transition: transform 1s;
  transform-origin: 0 100%;
  width: 100%;
}

html.menu-active::after {
  transform: scale(.25);
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0 auto;
  max-width: 984px;
  padding: 0 20px;
}

h1 {
  font: inherit;
  font-style: italic;
  margin: 0;
  text-align: right;
}

h2 {
  font: inherit;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  position: relative;
  z-index: 1;
}

h5 {
  display: flex;
  font: inherit;
  justify-content: space-between;
  margin: 58px 0 -70px;
  color: hsl(30, 56%, 94%);
}

body > ul {
  display: flex;
  flex: 1;
  font-size: 32px;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 50px 0 0;
}

body > ul::before {
  background-image: url(wiking.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 42px;
  color: transparent;
  content: 'xxx';
  height: 42px;
  margin-top: -1px;
  padding-right: 5px;
  white-space: nowrap;
  width: 42px;
}

.menu {
  cursor: pointer;
  height: 40px;
  line-height: 38px;
  padding: 0 7px;
  position: relative;
  transition: color 0.3s;
}

.menu:last-of-type {
  padding-right: 0;
}

.menu a {
  white-space: nowrap;
}

.menu h2::before,
.menu h2::after,
.menu a::before,
.menu a::after {
  color: transparent;
  content: '[';
  display: inline-block;
  padding: 0 3px 0;
}

.menu h2::after,
.menu a::after {
  content: ']';
  padding: 0 0 0 3px;
}

.menu h2:hover::before,
.menu h2:hover::after,
.menu a:hover::before,
.menu a:hover::after {
  color: hsl(30, 56%, 14%);
}

.menu ul {
  border: 40px solid transparent;
  font-size: 16px;
  left: -32px;
  line-height: 18px;
  list-style: none;
  min-width: 100%;
  opacity: 0;
  padding: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  transition: opacity 0.3s;
}

.menu:hover ul {
  opacity: 1;
  pointer-events: all;
}

.menu li {
  padding: 0;
  white-space: nowrap;
}

a {
  display: block;
  color: inherit;
  padding: 7px 9px;
  text-decoration: none;
}
