html {
  background-color: hsl(30, 56%, 94%);
  background-image: url(logo.svg);
  background-position: bottom 30px right 30px;
  background-repeat: no-repeat;
  background-size: 50px 50px;
  border-bottom: 120px solid hsl(30, 56%, 14%);
  box-sizing: border-box;
  color: hsl(30, 56%, 14%);
  font-family: 'Libre Franklin', sans-serif;
  font-size: 16px;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

html::after {
  background-image: url(a.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 65%;
  bottom: 120px;
  content: '';
  left: 0;
  opacity: 1;
  pointer-events: none;
  position: absolute;
  top: 0;
  transform-origin: 0 100%;
  transition: transform 0.7s;
  width: 100%;
}

html.menu-active::after {
  transform: scale(.25);
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0 auto;
  max-width: 984px;
  padding: 0 20px;
}

h1 {
  font: inherit;
  font-style: italic;
  font-size: 11px;
  margin: 0;
  text-align: right;
}

h2 {
  font: inherit;
  font-weight: 100;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  transition: opacity 0.3s;
}

.menu-active h2 {
  opacity: 0;
}

h5 {
  display: flex;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 30px;
  justify-content: space-between;
  margin: 50px 0 -74px;
  color: hsl(30, 56%, 94%);
}

body > ul {
  display: flex;
  flex: 1;
  font-size: 32px;
  font-weight: 100;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 50px 0 0;
}

body > ul::before {
  background-image: url(wiking.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 42px;
  color: transparent;
  content: 'xxx';
  height: 42px;
  margin-top: -1px;
  padding-right: 5px;
  white-space: nowrap;
  width: 42px;
}

.menu {
  cursor: pointer;
  height: 40px;
  line-height: 38px;
  padding: 0 7px;
  position: relative;
  transition: color 0.3s;
}

.menu:last-of-type {
  padding-right: 0;
}

.menu a {
  white-space: nowrap;
}

.menu ul {
  background-image: url(stars.svg);
  background-position: center bottom 10px;
  background-repeat: no-repeat;
  background-size: 50px auto;
  border: 40px solid transparent;
  left: -33px;
  line-height: 38px;
  list-style: none;
  min-width: 100%;
  opacity: 0;
  padding: 0 0 50px;
  pointer-events: none;
  position: absolute;
  top: -45px;
  transition: opacity 0.3s;
}

.menu:hover ul {
  opacity: 1;
  pointer-events: all;
}

.menu li {
  padding: 5px 0;
  white-space: nowrap;
}

a {
  display: block;
  color: inherit;
  padding: 0;
  text-decoration: none;
  border-bottom: 1px solid transparent;
}

a:hover {
  border-bottom-color: hsl(30, 56%, 14%);
}
