<!doctype html>
<html>
<title>idex</title>
<style>
body
{
    font-family: "Lucida Sans Unicode", sans-serif;
    font-size: .8em;
}
ul
{
    list-style: none;
    margin: 0;
    padding: 0;
}
li
{
    padding-left: 0;
}
a
{
    text-decoration: none;
}
icon
{
    display: inline-block;
    background-repeat: no-repeat;
    vertical-align: middle;
    width: -o-skin;
    height: -o-skin;
    margin-right: 3px;
}
.directory icon
{
    background-image: -o-skin('Folder');
}
.file icon
{
    background-image: -o-skin('Window Document Icon');
}
</style>
<ul>
<ul><li class="file"><a href="./performance.html"><icon></icon>performance.html</a></li></ul>