<!doctype html>
<title>conway's game of life</title>
<link rel=icon href="/favicon.png">
<link rel=stylesheet href="https://fonts.googleapis.com/css?family=Libre+Franklin:100,300">
<link rel=stylesheet  href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel=stylesheet href="./style.css">
<h1>conway's game of life</h1>
<a href="https://en.wikipedia.org/wiki/Conway%27s_Game_of_Life">wikipedia</a>
<div id=container></div>
<span class="cell indicator" style="opacity: 0"></span>
<ul id=controls>
  <li class=button id=menu>
    <i class=material-icons>menu</i>
    <ul id=shape-list></ul>
  </li>
  <li>
    <a data-title=home id=home href="https://chriskr.github.io/">
      <i class=material-icons>home</i>
    </a>
  </li>
  <li class=button data-title=start id=start>
    <i class=material-icons>play_arrow</i>
  </li>
  <li class=button data-title=pause id=pause>
    <i class=material-icons>pause</i>
  </li>
  <li class=button data-title=clear id=clear>
    <i class=material-icons>clear</i>
  </li>
</ul>
<script src="./bundle-es-2015.js"></script>
