<!doctype html>
<title>Conway's Game of Life</title>
<link rel=icon href="/favicon.png">
<link rel=stylesheet href="https://fonts.googleapis.com/css?family=Libre+Franklin:100,300">
<link rel=stylesheet  href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel=stylesheet href="./style.css">
<h1>Conway's Game of Life</h1>
<a href="https://en.wikipedia.org/wiki/Conway%27s_Game_of_Life">wikipedia</a>
<div id=container></div>
<span class="cell indicator" style="opacity: 0"></span>
<div id=controls>
  <button title=home id=home><i class="material-icons">home</i></button>
  <button title=start id=start><i class="material-icons">play_arrow</i></button>
  <button title=pause id=pause><i class="material-icons">pause</i></button>
  <button title=clear id=clear><i class="material-icons">clear</i></button>
</div>
<script src="./bundle-es-2015.js"></script>
