html,
body {
  font-family: 'Libre Franklin', sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  align-items: center;
  background-image: linear-gradient(
    to right,
    hsla(280, 100%, 50%, .5),
    hsla(10, 100%, 50%, .5)
  ),
  linear-gradient(
    to bottom,
    hsl(240, 100%, 80%),
    hsl(240, 100%, 20%)
  );
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  overflow: hidden;
}

#container {
  height: 70px;
}

h1,
a,
.button {
  background: none;
  border: none;
  color: white;
  font: inherit;
  font-size: 72px;
  font-weight: normal;
  margin: 0;
  opacity: 0.7;
  padding: 0;
  text-decoration: none;
}

h1 {
  font-weight: 100;
}

a,
.button,
.shape {
  cursor: pointer;
  font-size: 24px;
  opacity: 0.5;
  transition: opacity 0.3s, border-color 0.3s;
}

a:hover,
.button:hover,
.shape:hover {
  opacity: 1;
}

#controls a,
.button {
  padding: 0 30px;
}

a:focus {
  outline: none;
}

.cell {
  background-color: white;
  cursor: pointer;
  opacity: 0.85;
  position: absolute;
}

.indicator {
  pointer-events: none;
}

.cell:hover {
  opacity: .6;
}

#controls {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
}

#pause {
  display: none;
}

.running #pause {
  display: block;
}

.running #menu,
.running #home,
.running #start,
.running #clear {
  display: none;
}

#shape-list {
  bottom: 0;
  display: none;
  left: -232px;
  list-style: none;
  margin: 0;
  padding: 8px 8px 56px 8px;
  position: absolute;
  z-index: 1;
}

.shape {
  border-left: 1px solid hsla(0, 0%, 100%, 0.3);
  height: 48px;
  line-height: 48px;
  padding: 0 32px;
}

.shape:last-child {
  border-right: 1px solid hsla(0, 0%, 100%, 0.3);
}

#menu:hover #shape-list {
  display: flex;
}

.shape canvas {
  vertical-align: middle;
}
