html {
  margin: 0;
  padding: 0;
  font: menu;
  font-size: 16px;
  
  background-image: linear-gradient(hsla(0, 0%, 0%, 0.02), 
                                    hsla(0, 0%, 0%, 0.02) 1px, 
                                    hsla(0, 0%, 0%, 0) 0);
  background-repeat: repeat-y;
  height: 100%;
  background-size: 0 0;
  background-size: 100% 7px;
  /*
  xbackground-color: hsl(0, 0%, 97%);
  background-size: 100vh;
  background-image: url(logo.svg);
  background-repeat: no-repeat;
  
  background-position: 50% 50%;
  background-image: url(bg_lines.svg);
  */
  overflow-x: hidden;
}

body {
  min-height: 100%;
  margin: 0 auto;
  padding: 0 0 0 120px;
  box-sizing: border-box;
  max-width: 700px;
  xbackground-image: url(bg.svg);
  xxbackground-color: white;
  xxborder: 1px solid hsla(0, 0%, 0%, 0.05);
  xxborder-width: 0 1px;

  xxbox-shadow: 0 1px 7px hsla(0, 0%, 0%, .1);
  xbackground-repeat: no-repeat;
  xbackground-size: 900px;
  xbackground-position: 100% 100px;
  background-size: 200px;
  background-image: url(logo.svg);
  background-repeat: no-repeat;
  background-position: 100% 20px;
    padding-bottom: 70px;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  font-weight: normal;
}

h1 {
  padding-top: 66px;
  xpadding-bottom: 20px;
  xheight: 0px;
  line-height: 45px;
  margin: 0 0 0 -120px;
  font-weight: lighter;

}

h1 + h3 {
  xmargin: 0 -120px;

}

h2 {
  xbackground-color: hsla(0, 0%, 0%, 0.05);
  margin: 0 0 20px -120px;
  padding: 7px 0;
  font-size: 2em;
  font-weight: lighter;
}

h3 {
  line-height: 30px;
}

h4 {
  font-size: 1.2em;
  font-style: italic;
  xmargin-left: -120px;
  font-weight: lighter;
  text-align: right;
  margin-top: 28px;
}

h5 {
  margin: 0;
  margin-top: 7px;
  display: flex;
  justify-content: space-between;
}

#contact a {
  padding: 0;
  xpadding-left: 24px;
  xbackground-repeat: no-repeat;
  xbackground-size: 16px;
  font-size: 13px;
  xline-height: 20px;
  xbackground-position: 2px 4px; 
  xflex: 1;
}

#chris {
  xbackground-image: url(mail.svg);
}

section {
  margin-top: 1em;
}

#projects {
  margin-top: 0px;
}

#projects h2 {
  font-size: 5em;
  padding: 0;
  margin-top: -15px;
}

#projects h3 {
  background-color: hsl(0, 0%, 30%);
  color: white;
  padding: 0 10px;
  font-size: 1em;
  line-height: 1.5em;
}

#projects h3 a {
  display: block;
  height: 100%;
  margin-left: -10px;
  padding-left: 30px;
  background: url(arrow_white.svg) no-repeat 7px 50% ;
}

#dragonfly::before {
  content: '';
  background: url(dragonfly-logo.png) no-repeat 0 0/100%;
  float: left;
  width: 42px;
  height: 42px;
  margin-left: -80px;
  margin-top: -5px;

}

xxsection li:not(:first-child) h3 {
  xborder-top: 7px solid hsl(0, 0%, 30%);

  background-image: linear-gradient(-45deg, hsl(0, 0%, 85%),
                                              hsl(0, 0%, 85%) 11px, 
                                              hsla(0, 0%, 0%, 0) 0),
                    linear-gradient(-225deg, hsl(0, 0%, 85%),
                                              hsl(0, 0%, 85%) 11px, 
                                              hsla(0, 0%, 0%, 0) 0);
  background-repeat: repeat-x;
  background-size: 61px 7px;
  background-position: 15px 0;

  margin: 0 0 0 -120px;
  padding: 20px 120px 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.links {
  font-size: 12px;
  text-align: right;
  padding-bottom: 10px;
}

.links ul {
  display: flex;
  xtext-align: left;
}

.links li {
  padding: 5px;
}

.github-link {
  padding-left: 20px;
  background-image: url(github.svg);
  background-size: 16px;
  background-repeat: no-repeat;
  line-height: 22px;
}

#code-fragments ul {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

#code-fragments li {
  margin-bottom: 10px;
}

#code-fragments a {
  display: block;
  padding-top: 80px;
  background-repeat: no-repeat;
  background-size: 100% auto;
  width: 125px;
  margin: 5px 10px;
  font-size: 12px;
}

#b-splines a {
  background-image: url(./thumbnails/b_splines.jpg);
}

#color-picker a {
  background-image: url(./thumbnails/color_picker.jpg);
}

#sbb_clock a {
  background-image: url(./thumbnails/sbb_clock.jpg);
}

#murmur_hash a {
  background-image: url(./thumbnails/murmur_hash.jpg);
}

#lanczos a {
  background-image: url(./thumbnails/lanczos.jpg);
}

#color-picker a {
  background-image: url(./thumbnails/color_picker.jpg);
}

dl {
  font-size: 13px;
  line-height: 20px;
}

dt {

  xdisplay: inline-block;
  float: left;
  width: 200px;
  clear: both;
  margin-left: -200px;
  text-align: right;
  box-sizing: border-box;
  padding-right: 10px;
  font-weight: bold;

}

dd 
{
  xxdisplay: inline-block;
  width: 99%;
  box-sizing: border-box;
  margin: 0;
}


#previously h2 {
  background-image: linear-gradient(-45deg, hsl(0, 0%, 25%),
                                              hsl(0, 0%, 25%) 11px, 
                                              hsla(0, 0%, 0%, 0) 0),
                    linear-gradient(-225deg, hsl(0, 0%, 25%),
                                              hsl(0, 0%, 25%) 11px, 
                                              hsla(0, 0%, 0%, 0) 0);
  background-repeat: repeat-x;
  background-size: 35px 15px;
  background-position: 19px 0;

  margin: 0 -158px 20px -278px;
  padding: 7px 158px;

  padding-top: 20px;
  background-origin: border-box;
}

#previously a {
  background: url(arrow.svg) no-repeat 7px 50%;
  display: block;
  line-height: 24px;
  padding-left: 30px;
}

h6 {
  font-weight: normal;
  margin: 45px -142px -45px 0;
  text-align: right;
}



