<!DOCTYPE html>
<title>dfs for process flow</title>
<pre>
ArchService |-> ProcessStep |-> Decision |-> ProcessStep |-> Decision |-> ProcessStep |-> Decision |-> ProcessStep |-> Decision
                            |                            |                            |                            |-> Deliverable
                            |                            |                            |-> Deliverable
                            |                            |                            |-> ProcessStep |-> Decision
                            |                            |                                            |-> Deliverable
                            |                            |-> Deliverable
                            |                            |-> ProcessStep |-> Decision |-> ProcessStep |-> Decision
                            |                                            |                            |-> Deliverable
                            |                                            |-> Deliverable
                            |                                            |-> ProcessStep |-> Decision |-> ProcessStep |-> Decision
                            |                                                            |                            |-> Deliverable
                            |                                                            |-> Deliverable
                            |                                                            |-> ProcessStep |-> Decision
                            |                                                                            |-> Deliverable
                            |-> Deliverable
                            |-> ProcessStep |-> Decision |-> ProcessStep |-> Decision |-> ProcessStep |-> Decision
                                            |                            |                            |-> Deliverable
                                            |                            |-> Deliverable
                                            |                            |-> ProcessStep |-> Decision |-> ProcessStep |-> Decision
                                            |                                            |                            |-> Deliverable
                                            |                                            |-> Deliverable
                                            |                                            |-> ProcessStep |-> Decision
                                            |                                                            |-> Deliverable
                                            |-> Deliverable
                                            |-> ProcessStep |-> Decision |-> ProcessStep |-> Decision |-> ProcessStep |-> Decision
                                                            |                            |                            |-> Deliverable
                                                            |                            |-> Deliverable
                                                            |                            |-> ProcessStep |-> Decision
                                                            |                                            |-> Deliverable
                                                            |-> Deliverable
                                                            |-> ProcessStep |-> Decision |-> ProcessStep |-> Decision
                                                                            |                            |-> Deliverable
                                                                            |-> Deliverable
                                                                            |-> ProcessStep |-> Decision |-> ProcessStep |-> Decision
                                                                                            |                            |-> Deliverable
                                                                                            |-> Deliverable
                                                                                            |-> ProcessStep |-> Decision
                                                                                                            |-> Deliverable
</pre>
